body {
    background-color: #222222;
    font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    color: #eee
}

.flex {
    display: flex;
}

.info-right {
    float: right;
}

#coin-display {
    color: goldenrod;
}